# mysql 配置
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# redis 配置
# 是否启用redis缓存
REDIS_OPEN=false
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# 邮件配置(不配置不影响启动,若配置所有参数必填)
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=

#存储类型 默认local本地  qiniu七牛  tencent腾讯（常量定义：BaseConstants.StorageType）
STORAGE_TYPE=local

# 七牛云配置
QINIU-ACCESS-KEY=
QINIU_SECRET_KEY=
QINIU_REGION=
QINIU_BUCKET=
# 域名要带http 或者https
QINIU_DOMAIN=

# 腾讯云配置
TENCENT_ACCESS_ID=
TENCENT_SECRET_KEY=
TENCENT_REGION=
TENCENT_BUCKET=





