<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><th:block th:text="${'友链 | ' + base.webTitle}"></th:block></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" th:content="${'友链,' +base.webTitle}">
    <meta name="description" th:content="'友链'">
    <meta name="author" th:content="${author.userName}"/>
    <th:block th:replace="~{front/layout::base-css}"></th:block>
    <style>

    </style>
</head>
<body>
<div id="app">
    <header th:replace="~{front/layout::header}"></header>
    <div th:replace="~{front/layout::show-text}"></div>
    <div class="middle-container">
        <aside v-if="!isMobile" class="aside">
            <div th:replace="~{front/layout::aside-user}"></div>
            <div class="aside-card">
                <div class="aside-card-top"><i class="el-icon-notebook-2"></i> 目录</div>
                <el-divider></el-divider>
                <div class="catalog-content">
                    <ul>
                        <li><a data-target="link-title-1">友链列表</a></li>
                        <li><a data-target="link-title-2">申请格式</a></li>
                        <li><a data-target="link-title-3">博客要求</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <main id="main" class="main">
            <div class="main-card article-info-header">
                <div class="article-info-title"><i class="el-icon-s-promotion"></i> 友链</div>
            </div>
            <!--友链-->
            <div class="main-card">
                <!--友链内容-->
                <div class="link-content">
                    <h3 id="link-title-1">友链列表</h3>
                    <div class="link-list" th:if="${links!=null}">
                        <div class="link-list-item" th:each="link : ${links}">
                            <!--头像-->
                            <img class="link-avatar" th:src="${link.linkAvatar}" alt="">
                            <div class="link-info">
                                <a th:href="${link.linkUrl}"  target="_blank" th:text="${link.linkName}"></a>
                                <span th:title="${link.linkDesc}" th:text="${link.linkDesc}"></span>
                                <a draggable="false" class="url-icon blue-hover" th:href="${link.linkUrl}"  target="_blank">
                                    <i class="el-icon-s-promotion"> <span th:text="${link.linkUrl.replace('https://', '').replace('http://', '')}"></span></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 id="link-title-2">申请格式</h3>
                    <div>
                        <p>
                            <strong>名称：</strong>WG日记<br>
                            <strong>介绍：</strong>喜欢计算机的咸鱼一条。<br>
                            <strong>链接：</strong>https://www.wgzz.vip/<br>
                            <strong>头像：</strong>https://www.wgzz.vip/public/pic/tx.png
                        </p>
                    </div>
                    <h3 id="link-title-3">博客要求</h3>
                    <div>
                        <p>
                            添加本站点到友链<br>
                            博客存在一定优质文章（不是纯灌水就行了，也可以是生活学习啥的）<br>
                            建站超过 1 个月 / 文章数超 10 篇（防止一时兴起）<br>
                            定期会清除无法访问链接 (14 天)
                        </p>
                    </div>
                </div>
            </div>
            <!--评论-->
            <th:block th:include="front/layout::comment"></th:block>
       </main>
    </div>
    <footer th:replace="front/layout::footer"></footer>

</div>
</body>

<th:block th:replace="~{front/layout::base-js}"></th:block>
<script>
    new Vue({
        el: "#app",
        mixins: [FrontUtilsMixin],
        data: {

        },
        mounted() {
            this.initCommentUser();
        },
        beforeUnmount() {

        },
        methods: {}
    })
</script>
</html>